{% extends 'base.html' %}
{% load static %} 

{% block title %}
Пользователи :: {{ block.super }}
{% endblock %}

{% block content %}
  <h2>Пользователи</h2>
  {% for user in users %}
    <div class="card" style="max-width: 800px;">
      <div class="card-body">
        <h5 class="card-title">
          <a class="card-link" href="{{ user.get_absolute_url }}" style="text-decoration: none;">{{ user.username }}</a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
        {% if user.first_name %}
          <p class="card-text">Имя: {{ user.first_name }}</p>
        {% else %}
        <p class="card-text">Имя: <span style="color: #8f8f8f;">Не установлено</span></p>
        {% endif %}
        {% if user.last_name %}
          <p class="card-text">Фамилия: {{ user.last_name }}</p>
        {% else %}
          <p class="card-text">Фамилия: <span style="color: #8f8f8f;">Не установлена</span></p>
        {% endif %}
        {% if user.birthday %}
          <p class="card-text">День рождения: {{ user.birthday|date:"d M, Y" }}</p>
        {% else %}
          <p class="card-text">День рождения: <span style="color: #8f8f8f;">Не установлен</span></p>
        {% endif %}
      </div>
    </div>
    {% empty %}
    <h4>Нет зарегистрированных пользователей</h4>
  {% endfor %}
{% endblock %}
