{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ disp_user.username }} :: {{ block.super }}
{% endblock %}
  
{% block content %}
    <a class="btn btn-danger card-button" role="button" aria-disabled="true" href="{% url 'users:user_list' %}">Вернуться к списку</a>
    <h2>Пользователь: {{ disp_user.username }}</h2>
    <div class="card style="max-width: 1300px;">
        <div class="card-body">
          <h5 class="card-title">{{ disp_user.username }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ disp_user.email }}</h6>
          {% if disp_user.first_name %}
            <p class="card-text">Имя: {{ disp_user.first_name }}</p>
          {% else %}
          <p class="card-text">Имя: <span style="color: #8f8f8f;">Не установлено</span></p>
          {% endif %}
          {% if disp_user.last_name %}
            <p class="card-text">Фамилия: {{ disp_user.last_name }}</p>
          {% else %}
            <p class="card-text">Фамилия: <span style="color: #8f8f8f;">Не установлена</span></p>
          {% endif %}
          {% if disp_user.birthday %}
            <p class="card-text">День рождения: {{ disp_user.birthday|date:"d M, Y" }}</p>
          {% else %}
            <p class="card-text">День рождения: <span style="color: #8f8f8f;">Не установлен</span></p>
          {% endif %}
        </div>
      </div>

{% endblock %}
