<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}  
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
    <title>{% block title %}Resupply: Товары со Всего Мира{% endblock %}</title>
  </head>
  <body>
    <header id="header">
      {% block header %}
      {% include 'includes/header.html' %}
      {% endblock %}
    </header>
    <main>
      <div class="row">
        <div class="col-md-3">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Именинники!
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for birth_user in birth_users %}
                <a class="dropdown-item" href="{{ birth_user.get_absolute_url }}" %}">{{birth_user.first_name}} {{birth_user.email}}</a>
              {% endfor %}
            </div>
          </li>
          {% for birth_user in birth_users %}
          <a class="dropdown-item" href="{{ birth_user.get_absolute_url }}" %}">{{birth_user.email}}</a>
        {% endfor %}
      </div>
        <div class="col-md-6">
        {% block content %} No content for you {% endblock %}
        </div>
        <div class="col-md-3"></div>
      </div>    
    </main>
    <footer id="footer">
      {% block footer %}
      {% include 'includes/footer.html' %}
      {% endblock %}
      
    </footer>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
