#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 2.5rem; 
  border-top: 1px solid black;
  text-align: center;
}

body {
  margin-top: 60px;
  position: relative;
}

main {
  padding-bottom: 2.5rem;
}

.navbar {
  background-color: rgb(255, 106, 0);
  border: 1px solid black;
  font: 1.2em "Fira Sans", sans-serif;
}
.nav-item {
  padding-left: 10px;
  padding-right: 10px;
}
.nav-link.active,
.nav-item:hover .nav-link {
    color: #ffffff;
    background-color: #de3b26;
}

.card {
  box-shadow: -2px -2px 5px black;
  font: 1.2em "Fira Sans", sans-serif; 
}

