{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ item.name }} :: {{ block.super }}
{% endblock %}
  
{% block content %}
<a class="btn btn-danger card-button" role="button" aria-disabled="true" href="{% url 'catalog:item_list' %}">Вернуться к каталогу</a>
<h2>{{ item.name }}</h2>
<div class="card mb-3" style="max-width: 1300px;">
    <div class="row g-0">
      <div class="col-md-4">
        {% if item.main_image %}
        <img src="{{ item.main_image.url }}" class="img-fluid rounded-start" alt="Image">
        {% else %}
        <img src="{% static 'img/placeholder_image.jpg' %}" class="img-fluid rounded-start" alt="Image">
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{ item.name }}</h5>
          <p style="color: #8f8f8f;">{{item.category.name}}</p>
          <hr>
          <p class="card-text">{{ item.text }}</p>
          {% if rating_count > 0 %}
            <p>Рейтинг товара: <b>{{ rating_avg }}</b>| Количество оценок: <b>{{ rating_count }}</b></p>  
            {% if user.is_authenticated %}
              {% if user_rating %}
                <p>Ваша оценка: <b>{{ user_rating.rating }}</b></p>
              {% else %}
                <p>Ваша оценка: <span style="color: #8f8f8f;">Нет</span></p>
              {% endif %}
            {% endif %}
          {% else %}
            <p>Нет отзывов</p>
          {% endif %} 
          {% if user.is_authenticated %}
            <a class="btn btn-danger card-button" role="button" aria-disabled="true" href="{% url 'rating:rating' item_id=item.pk %}">Оценить товар</a>
          {% endif%}
        </div>
      </div>  
    </div>
  <div class="card-footer text-muted">
    <span>
      Теги: 
      {% for tag in item.tags.all %}
      {{ tag.name }},
      {% endfor %}
    </span> 
  </div>
</div>
{% endblock %}
