{% extends 'base.html' %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block content %}
<h2>Resupply: Товары со Всего Мира</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id metus ut leo maximus blandit in vitae lorem.
   Nam euismod nisi ac semper tempor. In rhoncus in velit id volutpat. Proin non urna leo. Nulla facilisi.
   Ut posuere euismod mauris ut egestas. Phasellus a tortor sollicitudin, vestibulum urna nec, efficitur orci.
   Curabitur id imperdiet nisi. Ut bibendum, arcu non vehicula gravida, lectus diam auctor nibh, ac accumsan ex ipsum in sem.
   In tempus sem vel nulla posuere vestibulum. Cras pretium in leo id faucibus. Suspendisse tempor massa eu libero hendrerit,
   sed pretium erat maximus.
   Sed elementum, lorem dignissim eleifend lobortis, leo ligula vestibulum est, vel feugiat risus nisi vel ipsum.
   Vivamus elit quam, sollicitudin nec justo at, accumsan laoreet est. Pellentesque habitant morbi tristique
   senectus et netus et malesuada fames ac turpis egestas. In feugiat sit amet urna in bibendum.
   Sed suscipit augue egestas nulla molestie, non efficitur neque congue. Phasellus eleifend a ex sed aliquam.
   Curabitur consectetur purus eget metus malesuada, consectetur fringilla lectus tristique.
   Praesent tincidunt lectus in augue ornare bibendum. Aenean rutrum neque vulputate commodo pellentesque.
   Aenean sit amet blandit augue, a consectetur leo. Proin tincidunt fringilla enim, ac pretium magna ullamcorper nec.
   Phasellus sed bibendum dolor, eu efficitur orci. Nullam eget facilisis tortor.
   Ut et consequat ante. Donec ut mauris at mauris rhoncus pellentesque id ac metus. Vestibulum erat purus,
   sodales ac ipsum in, rhoncus fermentum massa. Praesent orci leo, ultrices vel metus quis, fringilla aliquam turpis. 
   Vestibulum interdum fringilla faucibus. Nullam vestibulum ante nisi, at bibendum mauris molestie a. 
   Curabitur sed odio id nisl fermentum congue sit amet vel ipsum. Pellentesque sed pellentesque mi. 
   Phasellus enim leo, congue sit amet elementum sit amet, semper quis metus.
   Nunc dapibus neque eu nibh viverra, fermentum eleifend nisi semper. Sed eu justo justo. 
   Donec eget nisi ac arcu consequat finibus ut porta massa. Pellentesque vestibulum efficitur mollis. 
   Aliquam quam massa, sodales quis pharetra at, dictum sit amet dolor. In tincidunt nisi a malesuada bibendum. 
   Curabitur facilisis porttitor neque eu tempor. Etiam in dignissim nisl. Nulla maximus vulputate posuere. 
   Maecenas semper consectetur neque. Pellentesque massa erat, ultrices quis diam semper, venenatis ornare tortor. 
   Vestibulum ac arcu augue. Etiam in dignissim nisi.
   Donec suscipit lobortis eros, ut eleifend sapien tempor commodo. 
   Maecenas mollis egestas diam sed luctus. Donec a quam ac quam imperdiet tincidunt malesuada ultricies dui. 
   Vivamus sit amet lorem diam. Curabitur pellentesque, massa vulputate finibus blandit, magna risus mattis leo, 
   vel tristique risus ex ut orci. Ut ligula quam, iaculis et ultricies et, molestie non purus. Vivamus metus ligula, 
   ultrices in massa vitae, rhoncus vestibulum nulla. Etiam pellentesque sed velit vitae pharetra. 
   Pellentesque sagittis consequat est, id imperdiet diam iaculis eu.</p>
{% endblock %}